@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

body {
  font-family: 'Poiret One', cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

a {
  color: #5334F5;
  font-weight: 600;
  text-decoration: none;
}

.Hero {
  height: 100vh;
  background: url('../images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
}

.HeroGroup {
  position: absolute;
  height: 55vh;
  width: 40vw;
  background: white;
  margin: 22.5vh 30vw;
  text-align: center;
}

.Hero h1 {
  color: black;
  font-size: 50px;
  margin: 0;
  line-height: 1.2;
}

#profile {
  width: 150px;
  padding-top: 8px;
  margin: 8px 8px 0px 8px;
}

#description {
  margin: 8px;
  padding-bottom: 12px;
}

.Hero p {
  font-size: 28px;
  line-height: 1.3;
  color: black;
}

@media (max-width: 740px) {
  .HeroGroup {
    position: absolute;
    height: 40vh;
    width: 60vw;
    background: white;
    margin: 30vh 20vw;
    text-align: center;
  }

  #profile {
    width: 80px;
  }

  .Hero p {
    font-size: 22px;
  }

  .Hero h1 {
	  font-size: 32px;
  }
}